#filters {
    margin-bottom: 30px;

    #filter-form {
        margin: auto;
        display: block;
        width: 90%;
    }

    .filter {
        display: inline-block;
        
        label, input {
            display: block;
            margin: 20px;
        }
    }

    label {
        margin-bottom: 10px;
    }

    #submit {
        margin: 0px 20px;
        display: block;
    }
}
