#filters {
    margin-bottom: 30px;

    #filter-form {
        margin: auto;
        display: block;
        width: 90%;
    }

    .filter {
        display: inline-block;
        margin: 0px 20px 15px 0px;
        
        label {
            display: block;
            min-width: 200px;
        }
    }

    #submit {
        margin-top: 5px;
        display: block;
    }
}
