#left-column {
    float: left;
    width: 60%;

    .list-item {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 3rem;
        background-color: lightgray;
        padding: 40px;
        border-radius: 20px;

        .title {
            margin-bottom: 1rem;
        }

        .left {
            float: left;
            display: block;
            width: 80%;
        }

        .right {
            float: right;
            display: block;
            width: 20%;

            ul {
                margin: auto;
            }

            .sub-list {
                margin-top: 20px;
            }

            .first-list:empty + .second-list {
                margin-top: 0;
            }
        }
    }
}
