#view {
    width: 50%;
    float: left;
    
    #filters {
        margin: auto;
        display: block;
        margin-bottom: 30px;

        .field {
            display: inline-block;
            margin: 0px 20px 15px 0px;
        }
    }
}
