#filters {
    
    #filter-form {
        margin: auto;
        display: block;
        width: 90%;
        margin-bottom: 30px;

        .field {
            display: inline-block;
            margin: 0px 20px 15px 0px;
        }
    }
}
