.list-item {
  margin-top: 2rem;
  background-color: lightgray;
  padding: 2rem;
  border-radius: 1rem;

  .title {
    margin-bottom: 1rem;
  }

  .left {
    float: left;
    display: block;
    width: 70%;

    .text {
      margin-bottom: 1rem;
    }
  }

  .right {
    float: right;
    display: block;
    width: 20%;

    ul {
      margin: auto;
    }

    .sub-list {
      margin-bottom: 1rem;
    }
  }
}
