#view {
    float: left;
    width: 60%;

    .list-item {
        width: 80%;
        display: block;
        margin: auto;
        margin-bottom: 3rem;
        background-color: lightgray;
        padding: 40px;
        border-radius: 20px;

        .title {
            margin-bottom: 1rem;
        }

        .left {
            float: left;
            display: block;
            width: 70%;
        }

        .right {
            float: right;
            display: block;
            width: 20%;

            ul {
                margin: auto;
            }

            .sub-list {
                margin-top: 20px;
            }

            .people:empty + .locations {
                margin-top: 0;
            }
        }

        .edit, .cancel, .delete {
            margin-top: 15px;
            padding: 10px 20px;
            margin-right: 20px;
        }
    }
}
