#login, #register {
    margin: auto;
    width: 200px;

    h2 {
        margin-top: 200px;
    }

    label, input {
        display: block;
        width: 200px;
    }

    label {
        margin-top: 10px;
    }

    #submit {
        margin-top: 20px;
    }

    form {
        margin-bottom: 10px;
    }
}
