#menu {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  background-color: tomato;
  box-shadow: 0.5rem 0.5rem 1rem grey;

  ul {
    display: flex;
    justify-content: space-around;
    list-style: none;

    @for $i from 1 through 10 {
      li:first-child:nth-last-child(#{$i}),
      li:first-child:nth-last-child(#{$i}) ~ li {
        width: 100% / $i } }

    li {
      a {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-top: 1rem;
        padding-bottom: 1rem;
        text-decoration: none;
        color: white;
      }

      a.active {
        text-decoration: underline;
      }
    }

    li:hover {
      background-color: #d65e46;
    }
  }
}
