#menu {
    width: 70%;
    display: block;
    padding: 0px 15%;
    margin-bottom: 30px;
    font-size: 1.5rem;
    background-color: tomato;
    box-shadow: 5px 5px 10px grey;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;

        li {

            a {
                display: inline-block;
                padding: 1rem 6rem;
                text-align: center;
                text-decoration: none;
                color: white;
            }
        }

        li:hover {
            background-color: #d65e46;
        }
    }
}
