#left {
  float: left;
  width: 60%;
}

#right {
  float: right;
  width: 40%;
}

.sub {
  width: 90%;
  margin: auto;

  h1 {
    margin-bottom: 1rem;
  }
}

.sub-devider {
  width: 90%;
  margin: auto;
  border-bottom: 3px black dashed;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
